[submodule ".registry"]
	path = .registry
	url = https://github.com/jhollist/jhollist.r-universe.dev
	branch = HEAD
[submodule "dadjokeapi"]
	path = dadjokeapi
	url = https://github.com/jhollist/dadjokeapi
[submodule "elevatr"]
	path = elevatr
	url = https://github.com/jhollist/elevatr
[submodule "lakemorpho"]
	path = lakemorpho
	url = https://github.com/usepa/lakemorpho
[submodule "nsink"]
	path = nsink
	url = https://github.com/usepa/nsink
[submodule "quickmapr"]
	path = quickmapr
	url = https://github.com/geogugal/quickmapr
